@page
@model IndexModel
@{
    ViewData["Title"] = "Albums";
}


<form id="admin" if-authorized method="post" action="~/album/new/create/">
    <input type="text" name="name" id="name" aria-label="Album name" placeholder="Album name" required />
    <input type="submit" id="newalbum" data-progress="Creating..." value="New album">
</form>

@if (this.Model.Albums.Count == 0)
{
    <p>There are no albums yet. Create new albums and upload photos.</p>
}

<h2>Albums</h2>

<div class="albumlist pic">
    @{
        foreach (Album album in this.Model.Albums)
        {
            <a href="/album/@album.Id/" data-text="@album.Name"></a>
        }
    }
</div>